@model IEnumerable<MVC_Migration.Models.Members>
@*引用x.pagelist套件*@
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Fluent;
@{
    ViewData["Title"] = "Index2";
    //here
    var pageList = (IPagedList)ViewBag.userModel;
}

<h1>Index2</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
    @*here*@
    <tfoot>
        <tr>
            <td class=" text-muted" colspan="5">
                第@(pageList.PageCount < pageList.PageNumber ? 0 : pageList.PageNumber)頁，共 @pageList.PageCount 頁，
                每頁 @pageList.PageSize 筆資料，全部共有 @pageList.TotalItemCount 筆資料。
            </td>
        </tr>
    </tfoot>
</table>
@*here*@
<div style="align-content:center">
    @(Html.Pager(pageList)
        .Url(page => Url.Action("Index2", new { page }))
        .Build())
</div>